<div class="container">
<div class="well display-question">
{{!-- Display questions in the question-tile component --}}
<p>{{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</p> 
<small>by {{question.author}} </small> 
{{!-- 
{{edit-question question=question edit="edit"}} --}}
</div>
</div>