{{!-- Display questions in the question-tile component --}}
 <li>
     {{#link-to 'question' question.id}}{{question.title}}{{/link-to}} </li>
    <p> by {{question.author}}</p>
{{!-- 
{{edit-question question=question edit="edit"}} --}}