<h3>{{question.title}} </h3>
<p>{{question.content}} </p>

<button{{action 'delete' question}} class="btn btn-danger">Delete</button>

{{!-- <h2>Answers</h2>


<ul>
  {{#each model.answers as |answer|}}
  {{answer-tile answer=answer}} 
  {{/each}}
</ul> --}}
