<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Q&A Forum</a>
    </div>
    <ul class="nav navbar-justified">
      <li>{{#link-to 'index'}}Home{{/link-to}} </li>
    </ul>
  </div>
</nav>

{{outlet}}