<nav class="navbar navbar-inverse bg-primary fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Q&A Forum</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}Home{{/link-to}} </li>
    </ul>
  </div>
</nav>
<div class="container">
{{outlet}}


{{!-- <footer>
  <div class="panel-footer">
  <div class="row">
    <div class="col-md-4">
      <p>Privacy|Terms</p>
    </div>
    
    <div class="col-md-4">
      <p>Made by John Mutavi</p>
    </div>
    
    <div class="col-md-4">
      <p>Language:English</p>
    </div>
  </div>
  </div>

</footer> --}}
</div>