<p>This is a dedicated forum to help users get answers to any question they may have about any programming language.</p>
<p>Discuss, learn and get extra resources to help you in your programming journey</p>
<h3>Questions</h3>
<ul>
  {{#each model as |question|}}
  {{!-- move each loop on index into question-tile component --}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}